In [1]:
import os
import numpy as np
import matplotlib.pyplot as plot
from pathlib import Path
import folium
from folium import plugins
import mapclassify
import geopandas as gpd
import pandas as pd
import glob 
import plotly.graph_objects as go
import fiona

In [2]:
#Get the current working directory
#os.chdir("..") Used only fto go down one directory
os.getcwd()

'/Users/josele/Library/CloudStorage/GoogleDrive-ejdvc757@gmail.com/Other computers/My MacBook Pro/PhD/HG_SWOT/Hypsometry/Hypsometry_project'

In [3]:
#List all the shapefiles in the directory and split them into nodes and reaches
shpNd = glob.glob('SWOT_L2_HR_RiverSP/**/*Node*.shp', recursive=True) #Nodes
shpRch = glob.glob('SWOT_L2_HR_RiverSP/**/*Reach*.shp', recursive=True) #Reaches
shpNd,shpRch

(['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_535_SA_20240102T090319_20240102T090321_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_535_SA_20240102T090319_20240102T090321_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp'],
 ['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Reach_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_008_535_SA_20240102T090319_20240102T090321_PIC0_01/SWOT_L2_HR_RiverSP_Reach_008_535_SA_20240102T090319_20240102T090321_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Reach_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Reach_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Reach_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp'])

In [4]:
shpNd_022_NA = glob.glob('SWOT_L2_HR_RiverSP/**/*Node*_022_NA*.shp', recursive=True) #Nodes
shpNd_022_NA

['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp']

In [19]:
def read_shapefile(filename):
  """Reads a shapefile and returns a GeoDataFrame."""
  return gpd.read_file(filename)
dataframes = []
for shapefile in shpNd_022_NA:
  dataframes.append(read_shapefile(shpNd_022_NA))

# Print the list of dataframes
print(dataframes)

AttributeError: 'list' object has no attribute 'startswith'

In [13]:
geodataf

,reach_id,node_id,time,time_tai,time_str,lat,lon,lat_u,lon_u,river_name,...,p_wse,p_wse_var,p_width,p_wid_var,p_dist_out,p_length,p_dam_id,p_n_ch_max,p_n_ch_mod,geometry
0,71185300013,71185300010013,7.559171e+08,7.559172e+08,2023-12-15T00:58:45Z,5.571822e+01,-1.064235e+02,4.848660e-06,2.321307e-05,no_data,...,380.9,0.000000,3867.5,250342.472,218.0,218.113299,0,2,2,POINT (-106.42468 55.71879)
1,71185300013,71185300010023,7.559171e+08,7.559172e+08,2023-12-15T00:58:45Z,5.571721e+01,-1.064188e+02,2.867220e-06,1.372981e-05,no_data,...,380.9,0.000000,2071.0,3933.760,403.0,185.227678,0,1,1,POINT (-106.42209 55.71981)
2,71185300013,71185300010033,7.559171e+08,7.559172e+08,2023-12-15T00:58:45Z,5.571877e+01,-1.064162e+02,2.730600e-06,1.307738e-05,no_data,...,380.9,0.000000,2036.0,2361.040,603.0,200.109068,0,1,1,POINT (-106.41974 55.72087)
3,71185300013,71185300010043,7.559171e+08,7.559172e+08,2023-12-15T00:58:45Z,5.572132e+01,-1.064158e+02,2.806960e-06,1.344378e-05,no_data,...,380.9,0.000000,2057.0,2061.760,815.0,212.132051,0,1,1,POINT (-106.41740 55.72218)
4,71185300013,71185300010053,7.559171e+08,7.559172e+08,2023-12-15T00:58:45Z,5.572168e+01,-1.064106e+02,2.640530e-06,1.264944e-05,no_data,...,380.9,0.000000,2099.0,4230.240,1012.0,196.676029,0,1,1,POINT (-106.41512 55.72356)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45010,75362700043,75362700040213,-1.000000e+12,-1.000000e+12,no_data,-1.000000e+12,-1.000000e+12,-1.000000e+12,-1.000000e+12,Grijalva River,...,175.6,0.001389,464.0,1092.806,300211.0,205.908699,0,1,1,POINT (-93.53087 17.16271)
45011,75362700043,75362700040223,-1.000000e+12,-1.000000e+12,no_data,-1.000000e+12,-1.000000e+12,-1.000000e+12,-1.000000e+12,Grijalva River,...,175.7,0.000000,454.0,1129.556,300413.0,201.890130,0,1,1,POINT (-93.53234 17.16386)
45012,75362700043,75362700040233,-1.000000e+12,-1.000000e+12,no_data,-1.000000e+12,-1.000000e+12,-1.000000e+12,-1.000000e+12,Grijalva River,...,175.7,0.000000,505.0,2289.222,300600.0,186.846237,0,1,1,POINT (-93.53370 17.16492)
45013,75362700043,75362700040243,-1.000000e+12,-1.000000e+12,no_data,-1.000000e+12,-1.000000e+12,-1.000000e+12,-1.000000e+12,Grijalva River,...,175.7,0.000000,315.0,5689.714,300814.0,214.093342,0,1,1,POINT (-93.53396 17.16666)
45014,75362700043,75362700040253,-1.000000e+12,-1.000000e+12,no_data,-1.000000e+12,-1.000000e+12,-1.000000e+12,-1.000000e+12,Grijalva River,...,175.7,0.000000,270.0,2512.857,301014.0,200.309723,0,1,1,POINT (-93.53436 17.16848)

In [ ]:
for i in range(len(Nodes022_NA)):
    df[i] = Nodes022_NA[i].drop(Nodes022_NA[i][Nodes022_NA.width != -999999999999.0].index)

#df[0].get('width').iloc[0]

In [ ]:
Nodes

In [ ]:
gpd.read_file(Nodes[0]).get('width').iloc[0]

In [ ]:
frames={}
for i in range(len(shpNd_022_NA)):
        frames[i] = pd.concat([gpd.read_file(shpNd_022_NA[i]).get('node_id'), gpd.read_file(shpNd_022_NA[i]).get('river_name'), gpd.read_file(shpNd_022_NA[i]).get('lat'), 
        gpd.read_file(shpNd_022_NA[i]).get('lon'), gpd.read_file(shpNd_022_NA[i]).get('wse'), gpd.read_file(shpNd_022_NA[i]).get('width')], axis=1)

In [ ]:
frames[0]

In [ ]:
#Read the shapefile. [0] is used to read the first shapefile in the list
gpd.read_file(shpNd[1]).head()

In [ ]:
m = gpd.read_file(shpNd[0]).explore('wse', cmap='viridis', legend=True)
m

In [ ]:
SWOT_HR_shp1 = SWOT_HR_shp1[['river_name','p_wse','p_width','geometry']]
SWOT_HR_shp1 =SWOT_HR_shp1.rename(columns={'river_name': 'River Name','p_wse':'Water Surface Elevation','p_width':'River Width'})
SWOT_HR_shp1.head()

In [ ]:
L = SWOT_HR_shp1
updated_m = L.explore(column='Water Surface Elevation', cmap='viridis', legend=True)

updated_m

In [ ]:
L.crs

In [ ]:
files = glob.glob("**/*")
files

In [ ]:
shapes =   glob.glob(os.path.join('SWOT_L2_HR_RiverSP','*','*.shp'))
list_of_dfs = []
for f in shapes:
    df = gpd.read_file(f)
    list_of_dfs.append(df)

list_of_dfs[0]

In [ ]:
list_of_dfs[1]