In [20]:
import os
import numpy as np
import matplotlib.pyplot as plot
from pathlib import Path
import folium
from folium import plugins
import mapclassify
import geopandas as gpd
import pandas as pd
import glob 
import plotly.graph_objects as go
import fiona

In [27]:
#Get the current working directory
#os.chdir("..") Used only fto go down one directory
os.getcwd()

'/Users/josele/Library/CloudStorage/GoogleDrive-ejdvc757@gmail.com/Other computers/My MacBook Pro/PhD/HG_SWOT/Hypsometry/Hypsometry_project'

In [28]:
#List all the shapefiles in the directory and split them into nodes and reaches
shpNd = glob.glob('SWOT_L2_HR_RiverSP/**/*Node*.shp', recursive=True) #Nodes
shpRch = glob.glob('SWOT_L2_HR_RiverSP/**/*Reach*.shp', recursive=True) #Reaches
shpNd,shpRch

(['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_535_SA_20240102T090319_20240102T090321_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_535_SA_20240102T090319_20240102T090321_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp'],
 ['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Reach_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_008_535_SA_20240102T090319_20240102T090321_PIC0_01/SWOT_L2_HR_RiverSP_Reach_008_535_SA_20240102T090319_20240102T090321_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Reach_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Reach_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
  'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Reach_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Reach_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp'])

In [29]:
shpNd_022_NA = glob.glob('SWOT_L2_HR_RiverSP/**/*Node*_022_NA*.shp', recursive=True) #Nodes
shpNd_022_NA

['SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01/SWOT_L2_HR_RiverSP_Node_010_022_NA_20240125T182836_20240125T182847_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01/SWOT_L2_HR_RiverSP_Node_007_022_NA_20231124T041320_20231124T041331_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01/SWOT_L2_HR_RiverSP_Node_009_022_NA_20240104T214331_20240104T214342_PIC0_01.shp',
 'SWOT_L2_HR_RiverSP/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01/SWOT_L2_HR_RiverSP_Node_008_022_NA_20231215T005824_20231215T005835_PIC0_01.shp']

In [32]:
gpd.read_file(shpNd_022_NA[1]).head()

,reach_id,node_id,time,time_tai,time_str,lat,lon,lat_u,lon_u,river_name,...,p_wse,p_wse_var,p_width,p_wid_var,p_dist_out,p_length,p_dam_id,p_n_ch_max,p_n_ch_mod,geometry
0,71185300013,71185300010013,7.541144e+08,7.541145e+08,2023-11-24T04:13:42Z,55.718060,-106.423609,0.000005,0.000025,no_data,...,380.9,0.0,3867.5,250342.472,218.0,218.113299,0,2,2,POINT (-106.42468 55.71879)
1,71185300013,71185300010023,7.541144e+08,7.541145e+08,2023-11-24T04:13:42Z,55.717397,-106.418803,0.000003,0.000015,no_data,...,380.9,0.0,2071.0,3933.760,403.0,185.227678,0,1,1,POINT (-106.42209 55.71981)
2,71185300013,71185300010033,7.541144e+08,7.541145e+08,2023-11-24T04:13:42Z,55.718864,-106.416462,0.000003,0.000014,no_data,...,380.9,0.0,2036.0,2361.040,603.0,200.109068,0,1,1,POINT (-106.41974 55.72087)
3,71185300013,71185300010043,7.541144e+08,7.541145e+08,2023-11-24T04:13:42Z,55.721192,-106.415706,0.000003,0.000015,no_data,...,380.9,0.0,2057.0,2061.760,815.0,212.132051,0,1,1,POINT (-106.41740 55.72218)
4,71185300013,71185300010053,7.541144e+08,7.541145e+08,2023-11-24T04:13:42Z,55.721636,-106.410743,0.000003,0.000014,no_data,...,380.9,0.0,2099.0,4230.240,1012.0,196.676029,0,1,1,POINT (-106.41512 55.72356)

In [35]:
print(gpd.read_file(shpNd_022_NA[1]).get('width').iloc[0])

-999999999999.0

In [38]:
frames={}
for i in range(len(shpNd_022_NA)):
    if gpd.read_file(shpNd_022_NA[i]).get('wse') or gpd.read_file(shpNd_022_NA[i]).get('width') != -999999999999.0:
        frames[i] = pd.concat([gpd.read_file(shpNd_022_NA[i]).get('node_id'), gpd.read_file(shpNd_022_NA[i]).get('river_name'), gpd.read_file(shpNd_022_NA[i]).get('lat'), 
        gpd.read_file(shpNd_022_NA[i]).get('lon'), gpd.read_file(shpNd_022_NA[i]).get('wse'), gpd.read_file(shpNd_022_NA[i]).get('width')], axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
frames[0]

              node_id           lat           lon           wse         width
0      71185300010013  5.571828e+01 -1.064237e+02  3.822356e+02 -1.000000e+12
1      71185300010023  5.571684e+01 -1.064182e+02  3.822997e+02 -1.000000e+12
2      71185300010033  5.571834e+01 -1.064157e+02  3.823456e+02 -1.000000e+12
3      71185300010043  5.572122e+01 -1.064151e+02  3.823992e+02 -1.000000e+12
4      71185300010053  5.572155e+01 -1.064105e+02  3.823331e+02 -1.000000e+12
...               ...           ...           ...           ...           ...
45010  75362700040213 -1.000000e+12 -1.000000e+12 -1.000000e+12 -1.000000e+12
45011  75362700040223 -1.000000e+12 -1.000000e+12 -1.000000e+12 -1.000000e+12
45012  75362700040233 -1.000000e+12 -1.000000e+12 -1.000000e+12 -1.000000e+12
45013  75362700040243 -1.000000e+12 -1.000000e+12 -1.000000e+12 -1.000000e+12
45014  75362700040253 -1.000000e+12 -1.000000e+12 -1.000000e+12 -1.000000e+12

[45015 rows x 5 columns]

In [ ]:
#Read the shapefile. [0] is used to read the first shapefile in the list
gpd.read_file(shpNd[1]).head()

In [ ]:
m = gpd.read_file(shpNd[0]).explore('wse', cmap='viridis', legend=True)
m

In [ ]:
SWOT_HR_shp1 = SWOT_HR_shp1[['river_name','p_wse','p_width','geometry']]
SWOT_HR_shp1 =SWOT_HR_shp1.rename(columns={'river_name': 'River Name','p_wse':'Water Surface Elevation','p_width':'River Width'})
SWOT_HR_shp1.head()

In [ ]:
L = SWOT_HR_shp1
updated_m = L.explore(column='Water Surface Elevation', cmap='viridis', legend=True)

updated_m

In [ ]:
L.crs

In [ ]:
files = glob.glob("**/*")
files

In [ ]:
shapes =   glob.glob(os.path.join('SWOT_L2_HR_RiverSP','*','*.shp'))
list_of_dfs = []
for f in shapes:
    df = gpd.read_file(f)
    list_of_dfs.append(df)

list_of_dfs[0]

In [ ]:
list_of_dfs[1]